@font-face {
    font-family: Merriweather, serif;
    src: url(../fonts/Merriweather-Bold.ttf) format("truetype");
    font-weight: 700;
    font-display: block
}

@font-face {
    font-family: Merriweather, serif;
    src: url(../fonts/Merriweather-Black.ttf) format("truetype");
    font-weight: 900;
    font-display: block
}

@font-face {
    font-family: Lato, sans-serif;
    src: url(../fonts/Lato-Light.ttf) format("truetype");
    font-display: block
}

@font-face {
    font-family: Lato, sans-serif;
    src: url(../fonts/Lato-Bold.ttf) format("truetype");
    font-display: block
}

@font-face {
    font-family: Lato, sans-serif;
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
    font-display: block
}

.service {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000
}

.navigation {
    display: flex;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto
}

.head {
    background: #fcfbfa
}

.head__container {
    display: flex;
    align-items: center
}

.head__container__left {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 25%;
    margin-right: 185px;
    position: relative
}

.head__container__left .head__title {
    display: inline-block;
    font-size: 36px;
    color: #005fa3;
    font-family: Merriweather, serif;
    font-weight: 700;
    margin-left: 60px;
}

.head__container__left .logo__black {
    position: absolute;
    left: 3px;
    bottom: 1px
}

.head__container__left .logo__blue {
    position: absolute;
    bottom: 5px;
    left: 0
}

.head__container__right {
    width: 75%
}

.head__container__right .head__top .head__info {
    display: flex;
    align-items: center;
    list-style: none
}

.head__container__right .head__top .head__info__item a {
    padding-right: 40px;
    padding-left: 35px;
    font-size: 13px;
    line-height: 17px;
    font-family: Lato, sans-serif;
    font-weight: 500
}

.head__container__right .head__top .head__info__item img {
    padding-right: 10px;
    width: 30px;
    height: 30px;
    fill: #005fa3
}

.head__container__right .head__bottom .head__nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 10px
}

.head__container__right .head__bottom .head__nav__item {
    padding-right: 58px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: .1em
}

.head .head__slaider {
    background-image: url(../img/slide-image.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 670px
}

.head .head__slaider .head__slaider__content .head__services {
    font-size: 48px;
    font-family: Merriweather, serif;
    font-weight: 700;
    color: #fff;
    margin-top: 170px;
    margin-bottom: 80px
}

.head .head__slaider .head__slaider__content .head__btn {
    display: inline-block;
    color: #fff;
    padding: 19px 18px;
    background-color: #005fa3;
    font-size: 18px;
    margin-bottom: 100px;
    width: 270px;
    line-height: 25px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 300
}

.head .head__slaider .head__slaider__content .head__btn:hover {
    background-color: #0784e6;
    transition: .8s
}

.head .slick-active button {
    background: #fff;
    opacity: .7
}

.head .navmob {
    display: none
}

.services {
    background-color: #e5e5e5;
    padding-top: 120px;
    padding-bottom: 120px
}

.services .services__top p {
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #BDBDBD;
    padding-bottom: 30px
}

.services .services__middle h2 {
    font-size: 48px;
    font-family: Merriweather, serif;
    font-weight: 900;
    color: #333;
    padding-bottom: 100px
}

.services .services__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.services .services__bottom__item {
    cursor: pointer;
    width: 350px;
    height: 360px;
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative
}

.services .services__bottom__item .services__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #005fa3;
    opacity: 0;
    cursor: pointer
}

.services .services__bottom__item .services__hover:hover {
    opacity: .2;
    display: block
}

.services .services__bottom__item h3 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: Lato, sans-serif;
    margin-left: 45px;
    margin-top: 260px
}

.services .services__bottom__item:hover {
    background: #005fa3;
    transition: .5s
}

.company {
    background-color: #fff
}

.company__container {
    display: flex;
    width: 100%
}

.company__container__left {
    width: 50%
}

.company__container__left h2 {
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #BDBDBD;
    padding-top: 120px;
    padding-bottom: 30px
}

.company__container__left h3 {
    font-weight: 900;
    font-size: 48px;
    font-family: Merriweather, serif;
    color: #333;
    padding-bottom: 60px
}

.company__container__left h3 span {
    color: #005fa3
}

.company__container__left .company__description {
    width: 445px;
    line-height: 25px;
    height: 245px;
    float: left;
    font-weight: 300;
    font-size: 18px;
    font-family: Lato, sans-serif;
    color: #111
}

.company__container__right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 120px
}

.company__container__right .company__box {
    width: 255px;
    height: 255px;
    background: #EBEBEB;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: .5s
}

.company__container__right .company__box h2 {
    font-weight: 900;
    font-size: 55px;
    font-family: Lato, sans-serif;
    color: #111;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    transition: .5s
}

.company__container__right .company__box h5 {
    font-size: 14px;
    font-family: Lato, bold;
    font-weight: 700;
    padding-left: 40px;
    color: #111;
    padding-bottom: 45px;
    transition: .5s
}

.company__container__right .company__box a {
    padding-left: 40px;
    color: #005fa3;
    font-family: Lato, bold;
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    transition: .5s
}

.company__container__right .company__box:hover {
    background-color: #005fa3;
    transition: .5s
}

.company__container__right .company__box:hover a,
.company__container__right .company__box:hover h2,
.company__container__right .company__box:hover h5 {
    color: #fff;
    transition: .5s
}

.clients {
    background-color: #e5e5e5;
    height: 630px
}

.clients .clients__slaider__content p {
    font-size: 24px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #BDBDBD;
    padding-top: 100px;
    padding-bottom: 40px
}

.clients .clients__slaider__content h2 {
    font-family: Merriweather, serif;
    font-weight: 900;
    font-size: 48px;
    color: #333
}

.clients .clients__slaider__content .clients__slaider__images {
    display: flex;
    align-items: center
}

.clients .clients__slaider__content .clients__slaider__images img {
    padding-right: 30px;
    padding-top: 80px
}

.clients .slick-active button {
    background: #005fa3;
    opacity: .7
}

.clients .slick-next,
.clients .slick-prev {
    background-color: #005fa3;
    bottom: -100px;
    transition: .5s
}

.clients .slick-next:focus,
.clients .slick-next:hover,
.clients .slick-prev:focus,
.clients .slick-prev:hover {
    outline: 0;
    background: #005fa3;
    opacity: 1;
    transition: .5s;
    color: #fff
}

.clients .slick-dots {
    bottom: -80px
}

.clients .slick-dots li button {
    background: #005fa3;
    transition: .5s
}

.clients .slick-dots li button:focus,
.clients .slick-dots li button:hover {
    background: #005fa3;
    color: #fff;
    opacity: 1;
    outline: 0;
    transition: .5s
}

.reviews {
    margin-bottom: 140px
}

.reviews__slide h3 {
    font-size: 24px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    color: #BDBDBD;
    padding-top: 140px;
    padding-bottom: 40px
}

.reviews__slide h2 {
    font-size: 48px;
    font-family: Merriweather, serif;
    font-weight: 900;
    color: #333;
    padding-bottom: 80px
}

.reviews__slide__review {
    width: 1170px;
    height: 320px;
    background-color: #e5e5e5
}

.reviews__slide__review .reviews__desc {
    width: 920px;
    height: 92px;
    display: block;
    font-weight: 300;
    font-size: 18px;
    font-family: Lato, sans-serif;
    color: #000;
    padding-left: 95px;
    padding-top: 40px;
    line-height: 25px
}

.reviews__slide__review .reviews__human {
    padding-top: 108px;
    padding-left: 95px;
    display: flex
}

.reviews__slide__review .reviews__human img {
    padding-right: 35px;
    padding-bottom: 45px
}

.reviews__slide__review .reviews__human h4 {
    display: block;
    font-weight: 900;
    font-size: 18px;
    font-family: Lato, sans-serif;
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px
}

.reviews__slide__review .reviews__human p {
    display: block;
    font-size: 14px;
    font-weight: 300;
    font-family: Lato, sans-serif;
    color: #4f4f4f
}

.reviews .slick-active button {
    background: #005fa3;
    opacity: .7
}

.reviews .slick-next {
    background-color: #005fa3;
    margin-right: 25px;
    bottom: -100px;
    transition: .5s
}

.reviews .slick-prev {
    background-color: #005fa3;
    margin-left: 1095px;
    bottom: -100px;
    transition: .5s
}

.reviews .slick-next:focus,
.reviews .slick-next:hover,
.reviews .slick-prev:focus,
.reviews .slick-prev:hover {
    outline: 0;
    background: #005fa3;
    opacity: 1;
    transition: .5s;
    color: #fff
}

.reviews .slick-dots {
    bottom: -80px
}

.reviews .slick-dots li button {
    background: #005fa3;
    transition: .5s
}

.reviews .slick-dots li button:focus,
.reviews .slick-dots li button:hover {
    background: #005fa3;
    color: #fff;
    opacity: 1;
    outline: 0;
    transition: .5s
}

.contact {
    background-image: url(../img/contact.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.contact__container {
    width: 100%;
    display: flex
}

.contact__container__left {
    width: 50%
}

.contact__container__left h2 {
    font-weight: 900;
    font-size: 48px;
    font-family: Merriweather, serif;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 60px
}

.contact__container__left .contact__question {
    font-weight: 300;
    font-size: 18px;
    font-family: Lato, sans-serif;
    color: #fff;
    padding-bottom: 80px;
    line-height: 25px
}

.contact__container__left .contact__contacts {
    display: flex;
    align-items: center
}

.contact__container__left .contact__contacts .contact__contacts__bottom,
.contact__container__left .contact__contacts .contact__contacts__top {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.contact__container__left .contact__contacts .contact__contacts__link {
    display: inline-block;
    font-weight: 300;
    font-size: 21px;
    font-family: Lato, sans-serif;
    color: #fff;
    padding-right: 40px;
    cursor: pointer
}

.contact__container__left .contact__contacts .contact__first {
    display: inline-block;
    height: 40px;
    width: 20px;
    background-image: url(../img/smartphone-call.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    margin-right: 10px
}

.contact__container__left .contact__contacts .contact__second {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url(../img/envelope.svg);
    background-repeat: no-repeat;
    color: #fff;
    margin-right: 14px
}

.contact__container__right {
    width: 50%
}

.contact__container__right .contact__top {
    display: flex;
    padding-top: 115px
}

.contact__container__right .contact__top .contact__top-left {
    margin-right: 30px
}

.contact__container__right .contact__top .contact__top-left h2 {
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    padding-bottom: 15px;
    color: #fff
}

.contact__container__right .contact__top .contact__top-left input {
    width: 255px;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #bdbdbd;
    color: #fff;
    font-size: 21px;
    padding-bottom: 10px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin-bottom: 35px
}

.contact__container__right .contact__top .contact__top-left input:focus {
    border-color: #fff
}

.contact__container__right .contact__top-bottom h2 {
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    padding-bottom: 15px;
    color: #fff
}

.contact__container__right .contact__top-bottom textarea {
    resize: none;
    width: 100%;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #bdbdbd;
    color: #fff;
    font-size: 21px;
    height: 140px;
    font-family: Lato, sans-serif;
    font-weight: 300
}

.contact__container__right .contact__top-bottom textarea:focus {
    border-color: #fff
}

.contact__container__right .contact__btn {
    display: inline-block;
    color: #fff;
    padding: 19px 18px;
    background-color: #005fa3;
    font-size: 18px;
    margin-bottom: 100px;
    width: 270px;
    float: right;
    line-height: 25px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin-top: 70px
}

.contact__container__right .contact__btn:hover {
    background-color: #0784e6;
    transition: .8s
}

.up__btn {
    right: 0;
    position: absolute;
    display: block;
    background: #333;
    padding: 10px 20px;
    border-radius: 10%;
    color: #fff
}

.footer {
    background: #fcfbfa
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer__container h2 {
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: #000
}

@media screen and (max-width:1024px) {
    .head .head__container {
        display: none
    }

    .head .navmob {
        display: block;
        background: #e5e5e5;
        position: fixed;
        width: 100%;
        z-index: 100
    }

    .head .navmob .navmob__container {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 20px
    }

    .head .navmob .navmob__container__left {
        width: 50%;
        padding-top: 15px;
        display: flex;
        align-items: center;
        margin-left: 65%
    }

    .head .navmob .navmob__container__left .hamb-text {
        display: inline-block;
        padding-left: 10px;
        float: right
    }

    .head .navmob .navmob__container__left .hamb {
        height: 8px;
        width: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative
    }

    .head .navmob .navmob__container__left .hamb .hamb-bot,
    .head .navmob .navmob__container__left .hamb .hamb-top {
        display: block;
        height: 2px;
        width: 14px;
        background-color: #111;
        transition: .5s;
        transition-timing-function: linear
    }

    .head .navmob .navmob__container__left .hamb.hamb__active .hamb-bot {
        transform: rotate(-45deg);
        transition: .5s;
        transition-timing-function: linear;
        position: absolute;
        top: 5px
    }

    .head .navmob .navmob__container__left .hamb.hamb__active .hamb-top {
        transform: rotate(45deg);
        transition: .5s;
        transition-timing-function: linear;
        position: absolute;
        top: 5px
    }

    .head .navmob .navmob__container__right {
        width: 50%;
        position: relative
    }

    .head .navmob .navmob__container__right img {
        padding-left: 10px
    }

    .head .navmob .navmob__container__right .logo__blue {
        padding-top: 10px
    }

    .head .navmob .navmob__container__right .logo__black {
        position: absolute;
        left: 4px;
        padding-top: 15px
    }

    .head .navmob .navmob__container__right .head__title {
        display: inline-block;
        padding-left: 20px;
        position: absolute;
        top: 50%;
        color: #005fa3;
        font-family: Merriweather, serif;
        font-weight: 900;
    }

    .head .navmob .navmob__top__menu {
        text-align: center
    }

    .head .navmob .navmob__top__menu .navmob__menu__info .navmob__menu__item {
        margin-top: 10px;
        cursor: pointer;
        width: 100%;
        border: 1px solid #111;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6ba2fa;
        -webkit-box-shadow: 2px 15px 17px 0 rgba(0, 0, 0, .55);
        -moz-box-shadow: 2px 15px 17px 0 rgba(0, 0, 0, .55);
        box-shadow: 2px 15px 17px 0 rgba(0, 0, 0, .55)
    }

    .head .navmob .navmob__top__menu .navmob__menu__info .navmob__menu__item div {
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-right: 5px
    }

    .head .navmob .navmob__top__menu .navmob__menu__info .navmob__menu__item a {
        cursor: pointer;
        color: #fff
    }

    .head .navmob .navmob__top__menu .navmob__menu__info .navmob__menu__item:hover {
        background-color: #005fa3;
        transition: .5s
    }

    .head .navmob .navmob__top__menu .navmob__menu__info .navmob__menu__item:hover a {
        color: #fff;
        transition: .5s
    }

    .head .navmob .navmob__bottom__menu .navmob__nav {
        text-align: center
    }

    .head .navmob .navmob__bottom__menu .navmob__nav__item {
        margin-top: 10px;
        width: 100%;
        border: 1px solid #111;
        padding: 10px;
        -webkit-box-shadow: 2px 15px 17px 0 rgba(0, 0, 0, .25);
        -moz-box-shadow: 2px 15px 17px 0 rgba(0, 0, 0, .25);
        box-shadow: 2px 15px 17px 0 rgba(0, 0, 0, .25)
    }

    .head .navmob .navmob__bottom__menu .navmob__nav__item:hover {
        background-color: #005fa3;
        transition: .5s
    }

    .head .navmob .navmob__bottom__menu .navmob__nav__item:hover a {
        color: #fff;
        transition: .5s
    }

    .head .navmob .navmob__bottom__menu .navmob__nav__item:last-child {
        margin-bottom: 20px
    }

    .head .head__slaider__slide .head__slaider__content {
        text-align: center
    }

    .head .head__slaider__slide .head__slaider__content .head__services {
        margin-top: 130px;
        font-size: 38px
    }

    .head .head__slaider__slide .slick-dots {
        text-align: center
    }

    .head .head__slaider__slide .slick-dots li {
        margin: 10px
    }

    .head .head__slaider__slide .slick-next {
        right: 0;
        margin-right: 0
    }

    .head .head__slaider__slide .slick-prev {
        left: 0
    }

    .head .slick-prev {
        margin-left: 0
    }

    .services {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .services .services__top {
        text-align: center
    }

    .services .services__middle h2 {
        text-align: center;
        padding-bottom: 40px;
        font-size: 30px
    }

    .services .services__bottom {
        justify-content: center
    }

    .services .services__bottom .services__bottom__item {
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px
    }

    .company .company__container {
        display: flex;
        flex-wrap: wrap
    }

    .company .company__container .company__container__left {
        width: 100%;
        text-align: center
    }

    .company .company__container .company__container__left .company__description {
        padding-left: 10px;
        padding-right: 10px;
        width: auto
    }

    .company .company__container .company__container__right {
        width: 100%;
        display: flex;
        padding-top: 70px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 70px
    }

    .company .company__container .company__container__right .company__box {
        margin-right: 0
    }

    .clients {
        height: 580px
    }

    .clients .clients__slaider__content {
        background-color: #e5e5e5;
        text-align: center
    }

    .clients .clients__slaider__content p {
        padding-top: 50px
    }

    .clients .clients__slaider__content .clients__slaider__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px
    }

    .clients .clients__slaider__content .clients__slaider__images img {
        padding-top: 0;
        padding-right: 10px;
        height: 100px;
        width: 200px
    }

    .clients .slick-prev {
        margin-left: 0;
        left: 0
    }

    .clients .slick-dots {
        text-align: center
    }

    .clients .slick-dots li {
        margin: 10px
    }

    .clients .slick-next {
        right: 0;
        margin-right: 0
    }

    .clients .slick-next,
    .clients .slick-prev {
        bottom: -120px
    }

    .reviews__slide__content {
        text-align: center
    }

    .reviews__slide__content h3 {
        padding-top: 50px
    }

    .reviews__slide__content .reviews__slide__review {
        width: auto;
        height: auto
    }

    .reviews__slide__content .reviews__slide__review .reviews__desc {
        width: auto;
        height: auto;
        padding-left: 10px;
        padding-right: 10px
    }

    .reviews__slide__content .reviews__slide__review .reviews__human {
        padding-top: 50px;
        padding-left: 10px
    }

    .reviews .slick-prev {
        margin-left: 0;
        left: 0
    }

    .reviews .slick-dots {
        text-align: center
    }

    .reviews .slick-dots li {
        margin: 10px
    }

    .reviews .slick-next {
        right: 0;
        margin-right: 0
    }

    .reviews .slick-next,
    .reviews .slick-prev {
        bottom: -120px
    }

    .contact .contact__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .contact .contact__container .contact__container__left {
        text-align: center;
        width: 100%;
        display: block
    }

    .contact .contact__container .contact__container__left h2 {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .contact .contact__container .contact__container__left .contact__contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center
    }

    .contact .contact__container .contact__container__left .contact__contacts .contact__contacts__link {
        padding-right: 0
    }

    .contact .contact__container .contact__container__left .contact__contacts .contact__contacts__bottom,
    .contact .contact__container .contact__container__left .contact__contacts .contact__contacts__top {
        display: flex;
        align-items: center
    }

    .contact .contact__container .contact__container__right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .contact .contact__container .contact__container__right .contact__top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px
    }

    .footer h2 {
        padding: 20px
    }
}

@media screen and (max-width:399px) {
    .clients {
        height: 780px
    }
}

@media screen and (min-width:580px) and (max-width:1024px) {
    .company .company__description {
        height: auto
    }

    .company .company__container__right .company__box {
        margin-left: 30px
    }

    .contact .contact__contacts__top {
        margin-right: 10px
    }

    .contact .contact__container__right .contact__btn {
        display: block;
        width: 100%
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    background: #F9F9F9;
}

.midle{
    width: 1110px;  
}

.midle h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
}

.midle h3 {    
    margin-top: 40px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

.midle .description {
    margin-top: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.midle .navigation {
    display: flex;
}
